body{
    background-image: url('images/home.jpeg');
    background-size: 100%;
}

.footer{
    border-radius: 8px;
    text-align: center;
    color: #ffd073;
    line-height: 5px;
}


ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: #8bc48b;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    border-radius: 6px;
}

li{
    float:left;
}
li a,.dropbutton{
    display:inline-block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover,.dropdown:hover{
    background-color: #4f6877;
}
.dropdown{
    display:inline-block;
    float: right;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width:160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color:black;
    padding:12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content{
    display:block;
}

.homepage{
    background-color: rgba(57, 128, 91, 0.9);
}


.headphoto{
    text-align: center;
}
img{
    border-radius: 8px;
    margin-top: 5px;
}
.column1{
    float:left;
    width:33.33%;
}
.row1:after{
    content:"";
    display:table;
    clear:both;
}
.column2{
    float:left;
    width:33.33%;
}
.row2:after{
    content:"";
    display:table;
    clear:both;
}
.pictures{
    font-family: "Comic Sans MS",cursive,sans-serif;
    color: whitesmoke;
    height: 35%;
    border-radius: 12px;
    text-align: center;
}

.refresh{
    position:fixed;
    right:5px;
    bottom:5px;
}

.rTop{
    position:fixed;
    right:5px;
    bottom:25px;
    width:30px;
    height:25px;
    text-align:center;
    font-size:small;
    line-height:25px;
    border-radius: 6px;
    background-color:darkseagreen;
    cursor:pointer;
    display:none;
}

