a{
    color: white;
}
nav{
    background-color:black;
}
.navbar-brand{
    padding: 6px 6px;
}

.row{
    margin-top: 30px;
    margin-left: 110px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}